[submodule "database"]
	path = database
	url = https://github.com/lautarobarba/postgres-database-container
[submodule "backend"]
	path = backend
	url = https://github.com/lautarobarba/nestjs-backend-container
[submodule "frontend"]
	path = frontend
	url = https://github.com/lautarobarba/nextjs-frontend-container
